/vr_controller_vive_1_5 filter=lfs diff=lfs merge=lfs -text
/vr_controller_vive_1_5/* filter=lfs diff=lfs merge=lfs -text
CharacterController.unity filter=lfs diff=lfs merge=lfs -text
/pistol filter=lfs diff=lfs merge=lfs -text
Assets/Pistol filter=lfs diff=lfs merge=lfs -text
Assets/Ressources filter=lfs diff=lfs merge=lfs -text
